/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  text-align: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}

#hero {
  display: flex;
  flex-direction: column;
  background-image: url("assets/kerala.jpg");
  background-size: cover;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#title-box {
  display: inherit;
  font-size: 1.2em;
  padding: 5px 12px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
  background-color: #1d3557;
  border-radius: 10px;
}

#subtitle-box {
  font-size: 1.8890200708382527vh;
  padding: 5px 30px;
  background-color: #457b9d;
  border-radius: 10px;
}

.section-title {
  margin: 100px auto;
  font-size: 24px;
  color: #1d3557;
}

#activities {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: start;
}

.activity {
  width: 30vw;
}

.activity-pic {
  border-radius: 10%;
}

#testimonial-card {
  background-color: #A8DADC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  border-radius: 0.9375vw;
  padding: 1.875vw;
  margin: 100px auto;
  border-bottom: 5px solid #1D3557;
}

#testimonial-pic {
  border-radius: 0.625vw;
  width: 18.75vw;
  height: 18.75vw;
  margin-right: 1.875vw;
}

#testimonial-text {
  display: flex;
  color: #1D3557;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

